@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #28282B;
}

/* resume title name and heading */
.title{
    display: flex;
    justify-content: center;
    margin-top: 3ch;
}
.title h2{
    color: #00C6C2;
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 3px;
    font-size: 1.5em;
}


.resume_img{
    display: flex;
    justify-content: center;
    margin-top: 3ch;
}
.image_size{
    height: 90vh;
    width: auto;
    border: 5px solid #D3FBD8;
    border-radius: 10px;
}

.download{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

a{
    display: inline-block;
    height: 20px;
    padding: 15px;

    background-color: #00C6C2;
    color: #28282B;
    border: 1px solid #D3FBD8;
    border-radius: 20px;

    font-family: 'Audiowide', sans-serif;
}
